extends layout
block content
  h1= title
  - let jewelryid = toShow._id
  - let jewelryname = toShow.name
  - let jewelrycost = toShow.cost
  - let jewelrydescription = toShow.description
  div
    div.row
      div(class='jewelryAttr mr-3') Jewelry ID is:
      div #{jewelryid}
    div.row
      div(class='jewelryAttr mr-3')  Jewelry Name is:
      div #{jewelryname}
    div.row
      div(class='jewelryAttr mr-3') Jewelry Cost is:
      div #{jewelrycost}
    div.row
      div(class='jewelryAttr mr-3') Jewelry description is:
      div #{jewelrydescription}
